{% extends 'index.html' %}
{% load static %}
{% block body %}


	<section class="py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h4 class="w3ls-title text-uppercase text-dark font-weight-bold">🛒Buy Supplements & Fertilizer at one place🛒<hr/></h4>
			</div>
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/about.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
               
             
		</div>
	</section>

{% endblock %}